# Ігноруємо папку .git, яка містить налаштування git-репозиторію
.git

# Ігноруємо папку з залежностями, які можуть бути в `requirements.txt`
venv
.env

# Ігноруємо файли та папки, що не потрібні для побудови
*.pyc
__pycache__
*.pyo

# Ігноруємо дані тестів і логи
tests/
*.log
*.tmp
*.swp

# Ігноруємо файли з кешем
*.egg
*.egg-info
*.dist-info
